.page.theme_light {
  --background-color: #fff1f7;
  --color: #353430;
  --decorative-color: #353430;
  --color-theme-menu-button: #353430;
  --text-on-a-colored-background: #353430;
  --outline-color-hover: rgba(50, 49, 45, 0.4);
  --accent-color: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
  --color-title: #FFC2E6;
  --color-title-shadow: #FF8DCB;
  --color-title-section: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --color: #353430;
    --decorative-color: #353430;
    --color-theme-menu-button: #353430;
    --text-on-a-colored-background: #353430;
    --outline-color-hover: rgba(50, 49, 45, 0.4);
    --accent-color: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
    --color-title: #FFC2E6;
    --color-title-shadow: #FF8DCB;
    --color-title-section: #353430;
  }
  
  @media (768px<width<=1024px) or (width>1024px) {
    .title,
    .footer-text {
    --color-title-shadow: #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  .decorative-element {
    display: none;
  }
}