:root {
  --background-color: #000028;
  --color: #F1B2CE;
  --text-on-a-colored-background: #000028;
  --accent-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --color-title: #DB00FF;
  --color-title-shadow: #FF0070;
}