/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --color: #F1B2CE;
  --accent-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}